*{
   font-family: "Mozilla Text", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #0c0f1a;
    background: radial-gradient(ellipse at 10% 90%, rgba(106, 45, 166, 0.4), transparent 50%),
    radial-gradient(ellipse at 90% 20%, rgba(45, 117, 166, 0.4), transparent 50%),
    radial-gradient(ellipse at 50% 50%, rgba(68, 45, 166, 0.2), transparent 60%), #0c0f1a; 
     overflow: hidden;
    background-size: 400% 400%;
    animation: moveGradient 20s ease-in-out infinite alternate;
    background-repeat: no-repeat;
    height: 100vh;
}
@keyframes moveGradient {
  from {
    background-color: 0% 0%;
  }to{
    background-position: 100% 100%;
  }
}

.desktop-nav button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 15px;
}


.mobile-nav {
  display: block;
}
.desktop-nav {
  display: none;
}

@media (max-width: 768px) {
 .mobile-nav{
  display: none;
 }
 .desktop-nav {
  display: block;
}

 .app-layout{
  flex-direction: column;
 }
}