.headerBox{
  display: flex;
  width: 100vw;
  height: 101px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 101px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerBox a{
  text-decoration: none;
}
.headerBox  p {
  color: #ffff;
  font-size: 16px;
  padding: 30px;
}
.headerBox  button {
  color: #ffff;
  font-size: 16px;

  text-align: center;
  background-color: black;
  width: 143px;
  height: 35px;
  border-color: rgba(255,255,255,0.2); 
  border-style: groove;
  border-radius: 37px; 
}